*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Poppins', sans-serif;
 }
 /* questa row verra usata per tutti i contenitori */
 .row{
    width: 75%;
    display: flex;
    margin: 0 auto;
 }
 /* il button sara uguale per tutti tranne per il colore */
 button{
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    font-family: 'Poppins', sans-serif;
 }
/* INIZIO HEADER */
 .container_header{
    background-color: rgba(4, 89, 226, 0.945);
    padding: 20px;
 }
 .column_header{
    padding: 10px;
    display: flex;
 }
 .column_header.logo{
    width: 25%;
 }
 .column_header.login{
    width: 25%;
    justify-content: flex-end;
 }
 .button_accedi{
    background-color: white;
 }
 .column_header.link{
    width: 50%;
    justify-content: space-around;
    align-items: center;
    color: white;
 }
 /* FINE HEADER */
 /* INIZIO  MAIN : INIZIO section 1   */
 .container_section1{
    background-image: url(../img/jumbo.png); 
    background-size: cover;
    padding: 70px 0 200px 0;
 }
 .row .column_section1{
    width: 58%;
    color: white;
    margin: 0 auto;
    text-align: center;
 }
 .h1_section1{
    font-size: 60px;
    margin: 40px 0;
 }
 p{
    font-size: 18px;
 }
 .button_sec1{
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
 }
.discord_browser{
    background-color: rgba(24, 24, 24, 0.877);
    color: white;
    margin-left: 20px;
}
/* MAIN : FINE section 1  */
/* MAIN : INIZIO section 2 e 4  */
.container_section2{
    padding: 20px;
    margin: 100px 0;
 }
.row .column_section2.left{ 
    width: 70%;
}
.row .column_section2.right{
    width: 30%;
}
.h1_section24, .h1_section3{
    font-size: 50px;
    margin: 40px 0;
 }
/* MAIN : FINE section 2 e 4 */
/* MAIN : INIZIO section 3  */

.wave{
    display: flex;
    width: 100%;
    opacity: 0.1;
}
.wave.down{
    transform: scale(-1);
}
.container_section3, .container_section5{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
 }
.row .column_section3.left{
    width: 30%;
}
.row .column_section3.right{
    width: 70%;
    padding-left: 20%; 
}
/* MAIN : FINE section 3 */
/* MAIN : INIZIO section 5 usando contenitore della sezione 3 */
.row .column_section5{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.h1_section5{
    margin: 50px 0 10px 0;
}
#h2_section5{
    background-image: url(../img/stars.svg);
    background-position:center top;
    background-repeat: no-repeat;
    padding: 20px;
}
.button_section5{
    background-color: rgba(101, 110, 231, 0.705);
    color: white;
    margin: 25px 0 100px 0;
}
/* FINE MAIN : FINE section 5 */
/* INIZIO FOOTER parte alta , riga e colonne ( 5 colonne ) */
.container_footer{
    background-color: rgb(34, 34, 34);
    padding-top: 20px;
}
.row.footer{
    border-style: dashed;
    margin-bottom: 30px;
}
.column_footer_uno{
    width: 30%;
    border-style: dashed;
    height: 500px;
    background-color: rgb(221, 114, 123);
}
.column_footer_due{
    width: calc(70% / 4);
    background-color: rgb(87, 158, 155);
    border-style: dashed;
    border-color: white;
}
/* FOOTER fine parte alta delle 5 colonne */
/* INIZIO FOOTER parte bassa ,i bottoni */
.row.button{
    margin-top: 20px;
    background-color: rgb(0, 255, 179);
    justify-content: space-between;
    align-items: center;
}
.footer_2{
    background-color: pink;
    border-style: dashed;
    padding: 5px;
    margin: 20px 0;
}
/* FOOTER FINE */